vm-connector-queue-exercises/src/main/mule/vm-connector-queue-exercises.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6fdc7b55-2b59-481f-a631-6c1cb8ce67fb" basePath="/publish">
		<http:listener-connection host="localhost" port="8081" readTimeout="300000" />
	</http:listener-config>
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="b8e232a4-a4b0-4d70-b3cc-182e7992cc4f" >
		<vm:queues >
			<vm:queue queueName="testQueue1" />
		</vm:queues>
	</vm:config>
	<os:object-store name="Object_store" doc:name="Object store" doc:id="a6299a98-2fe1-4040-bde9-e0664a4959a8" />
	<flow name="VM-publish-flow" doc:id="d73ad5db-217c-4fdc-a8d1-2d7b5d2e5da4" >
		<http:listener doc:name="Listener" doc:id="c6f8316d-4e2b-4a30-9d11-4c826cc8db35" config-ref="HTTP_Listener_config" path="/message"/>
		<ee:transform doc:name="Transform Message" doc:id="155be7c2-0407-4598-8022-9b84c745b67a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	listenerPath: attributes.listenerPath,
	method: attributes.method,
	sizeAttribute: sizeOf(attributes.listenerPath) + sizeOf(attributes.method)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<vm:publish doc:id="86a658ad-49c4-4871-8d17-110452eac2d5" config-ref="VM_Config" queueName="testQueue1">
			<vm:content ><![CDATA[#[%dw 2.0
output application/json
---
{
'listenerPath': payload.listenerPath,
'method': payload.method,
'messageSize': attributes.sizeAttribute
}]]]></vm:content>
		</vm:publish>
	</flow>
	<flow name="vm-connector-queue-exercisesFlow" doc:id="949779e9-47f9-4725-bcc9-62a9e70aaf35" >
		<vm:listener queueName="testQueue1" doc:name="Listener" doc:id="297dfa43-010d-444d-bf10-3e506ff9b389" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="335f77eb-f16d-4a8c-9622-97627c89397c" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="f6fa6497-5daf-44c6-95ec-8d691b00f00b" message="#['VM message attributes: queue name ' ++ attributes.queueName as String]"/>
		<os:store doc:id="d7b569bb-fcdd-4683-a5e9-c0680b6adc7f" doc:name="Add Http Request" key="#[payload.method]" objectStore="Object_store">
			<os:value ><![CDATA[#[payload.listenerPath]]]></os:value>
		</os:store>
	</flow>
</mule>
