hellomule/src/main/mule/hellomule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<flow name="hellomuleFlow" doc:id="5bce85c6-e153-472e-a4bc-21e0a47d3751" >
		<http:listener doc:name="Listener" doc:id="d45cbee5-479f-4356-8543-c8a2d7311818" config-ref="HTTP_Listener_config" path="/hellomule"/>
		<set-payload value="Hello Mule" doc:name="Set Payload" doc:id="b159d5e5-0b9d-4462-9e7a-8fc720492a4a" />
		<logger level="INFO" doc:name="Logger" doc:id="9adca61c-9128-4491-a894-2207600cc93d" message='#[output application/java&#10;---&#10;"Username: " ++ Mule::p("secure::example.username")&#10;++ " - " ++&#10;"Password: " ++ Mule::p("secure::example.password")]'/>
	</flow>
</mule>
